CSServices/Service References/ServerServiceReference/Server3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/711A1/Server?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSServices" />
  <xs:import schemaLocation="http://localhost:8082/711A1/Server?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8082/711A1/Server?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getFilesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="getFileResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastWriteTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastWriteTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastWriteTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tCompareFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tCF_filename" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="tCF_cacheSegments" nillable="true" type="q5:ArrayOfsegmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tCompareFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tCompareFilesResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="tCF_returnedChunks" nillable="true" type="q6:ArrayOfsegment" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="tCF_serverDetails" nillable="true" type="q7:ArrayOfsegmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tCF_filename" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="tCF_cacheSegments" nillable="true" type="q8:ArrayOfsegmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="compareFilesResult" nillable="true" type="q9:ArrayOfsegment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chunkFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullfilepath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chunkFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CSServices" minOccurs="0" name="chunkFileResult" nillable="true" type="q10:ArrayOfsegmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>