Cache/Service References/ServerServiceReference/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/711A1/Server?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfServerService.segmentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerService.segmentDetails" type="tns:ServerService.segmentDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerService.segmentDetails" nillable="true" type="tns:ArrayOfServerService.segmentDetails" />
  <xs:complexType name="ServerService.segmentDetails">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServerService.segmentDetails" nillable="true" type="tns:ServerService.segmentDetails" />
  <xs:complexType name="ArrayOfServerService.segment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerService.segment" type="tns:ServerService.segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerService.segment" nillable="true" type="tns:ArrayOfServerService.segment" />
  <xs:complexType name="ServerService.segment">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServerService.segment" nillable="true" type="tns:ServerService.segment" />
</xs:schema>